@media (max-width: 1064px) {
  * {
    font-size: 15px;
  }
  
  .home-wrapper,
  .activity-page-wrapper {
    flex-direction: column;
    gap: 1rem;
    }
  .home-sidebar {
    display: none;
      
   }
    
}